# Virtual Environment
venv/
env/

# Python Cache
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model Weights
*.pth
*.pt
*.ckpt

# Experiment Tracking Logs
wandb/

# Secrets
.env

# Data
data/